---
import '../styles/global.css';
import Image from 'astro/components/Image.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Lex Wu / bio</title>

		<meta name="title" content="Lex Wu /  bio">
		<meta name="description" content="Links to explore Lex Wu's projects, plus more">
		<meta name="keywords" content="Lex Wu, journalist, developer">
		<meta name="robots" content="index, follow">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="language" content="English">

	</head>
	<body>
		<a rel="me" hidden href="https://mas.to/@lwu877">Mastodon</a>
		<div class="w-full min-h-screen h-full size-24 bg-linear-to-b to-teal-950 from-sky-600 py-16">
			<section class="grid gap-4 text-white text-center justify-center">
				<Image src="/outside-pfp.jpg" alt="Lex Wu sits outside, looking to the top left" width="128" height="128" loading="eager" class="rounded-3xl shadow-lg mx-auto loading-eager"/>
				<h1 class="font-medium font-display text-3xl">Lex Wu</h1>
				<p class="font-sans font-light text-lg">A developer, journalist, and more</p>
			</section>

			<section class="mx-auto flex justify-center pt-8 gap-4">
				<a href="https://www.instagram.com/lwu877/"
				class="border-2 border-white rounded-2xl p-2"
				>
					<img src="/icons/brand-instagram.svg" alt="Instagram logo" width="32" height="32" class="inline-block aspect-square"/>
				</a>

				<a href="https://bsky.app/profile/lexwu.com/"
				class="border-2 border-white rounded-2xl p-2"
				>
					<img src="/icons/brand-bluesky.svg" alt="Bluesky logo" width="32" height="32" class="inline-block aspect-square"/>
				</a>

				<a href="https://www.tiktok.com/@lwu877/"
				class="border-2 border-white rounded-2xl p-2"
				>
					<img src="/icons/brand-tiktok.svg" alt="TikTok logo" width="32" height="32" class="inline-block aspect-square"/>
				</a>

				<a href="https://github.com/lwu877"
				class="border-2 border-white rounded-2xl p-2"
				>
					<img src="/icons/brand-github.svg" alt="GitHub logo" width="32" height="32" class="inline-block aspect-square"/>
				</a>
			</section>
		
			<section class="mx-auto max-w-2xl grid gap-4 pt-8 text-slate-800 px-4">
				<div class="w-full bg-slate-50 text-lg rounded-2xl px-6 py-3 shadow-lg hover:to-slate-100 hover:from-slate-300 hover:bg-linear-to-l transition">
					<a
						href="https://unsplash.com/@lwu877"
						class="flex gap-8">
					<div class="flex-1">
						<p class="font-display font-medium text-2xl">Unsplash</p>	
						<p class="font-sans font-light text-sm">I take photos sometimes</p>
					</div>
					</a>
				</div>

				<div class="w-full bg-sky-50 text-lg rounded-2xl px-6 py-3 shadow-lg hover:to-sky-100 hover:from-sky-300 hover:bg-linear-to-l transition">
					<a
						href="https://sbstatesman.com/staff_name/lex-wu/"
						class="flex gap-8">
					<div class="flex-1">
						<p class="font-display font-medium text-2xl">The Statesman</p>	
						<p class="font-sans font-light text-sm">I report on stories that impact Stony Brook University. Here's some of them.</p>
					</div>
					</a>
				</div>

				<div class="w-full bg-emerald-50 text-lg rounded-2xl px-6 py-3 shadow-lg hover:to-emerald-100 hover:from-emerald-300 hover:bg-linear-to-l transition">
					<a
						href="https://calcyx.substack.com/"
						class="flex gap-8">
					<div class="flex-1">
						<p class="font-display font-medium text-2xl">The Calcyx</p>	
						<p class="font-sans font-light text-sm">The world, told in a slightly different way</p>
					</div>
					</a>
				</div>

				<div class="w-full bg-amber-50 text-lg rounded-2xl px-6 py-3 shadow-lg hover:to-amber-100 hover:from-amber-300 hover:bg-linear-to-l transition">
					<a
						href="https://heresaminute.com"
						class="flex gap-8">
					<div class="flex-1">
						<p class="font-display font-medium text-2xl">Here's a Minute</p>	
						<p class="font-sans font-light text-sm">A creative writing podcast with fun facts and writing prompts in a minute or two. Currently on hiatus - season 2 confirmed for this summer!</p>
					</div>
					</a>
				</div>

				<div class="w-full bg-sky-50 text-lg rounded-2xl px-6 py-3 shadow-lg hover:to-sky-100 hover:from-sky-300 hover:bg-linear-to-l transition">
					<a
						href="https://ko-fi.com/lwu877"
						class="flex gap-8">
					<div class="flex-1">
						<p class="font-display font-medium text-2xl">Buy me a coffee</p>	
						<p class="font-sans font-light text-sm">Anything is appreciated - thanks for the support!</p>
					</div>
					</a>
				</div>

				<div class="w-full bg-sky-50 text-lg rounded-2xl px-6 py-3 shadow-lg hover:to-sky-100 hover:from-sky-300 hover:bg-linear-to-l transition">
					<a
						href="https://lexwu.com/"
						class="flex gap-8">
					<div class="flex-1">
						<p class="font-display font-medium text-2xl">Visit my website</p>	
						<p class="font-sans font-light text-sm">Learn more about these projects... and even more stuff after that.</p>
					</div>
					</a>
				</div>

				<div class="w-full bg-violet-50 text-lg rounded-2xl px-6 py-3 shadow-lg hover:to-violet-100 hover:from-violet-300 hover:bg-linear-to-l transition">
					<a
						href="https://lwumusic.com/"
						class="flex gap-8">
					<div class="flex-1">
						<p class="font-display font-medium text-2xl">Music</p>	
						<p class="font-sans font-light text-sm">Fun fact - I'm also a musician! (Pretty sure that's what most people know me for.)</p>
					</div>
					</a>
				</div>
			</section>

			<p class="text-center text-white" aria-hidden="true" >- - - - - - - - - - - - -</p>

			<h2 class="text-2xl text-center text-white pb-4 font-display">Connect with me:</h2>

			<section class="mx-auto max-w-2xl grid gap-4 text-slate-800 px-4">
				<div class="w-full bg-sky-50 text-lg rounded-2xl px-6 py-3 shadow-lg hover:to-sky-100 hover:from-sky-300 hover:bg-linear-to-l transition">
					<a
						href="https://lwu877.substack.com"
						class="flex gap-8">
					<div class="flex-1 shrink">
						<p class="font-display font-medium text-2xl">Sign up for my newsletter</p>	
						<p class="font-sans font-light text-sm">Life updates, thoughts, and more</p>
					</div>
					</a>
				</div>

				<div class="w-full bg-sky-50 text-lg rounded-2xl px-6 py-3 shadow-lg hover:to-sky-100 hover:from-sky-300 hover:bg-linear-to-l transition">
					<a
						href="https://lexwu.com/contact"
						class="flex gap-8">
					<div class="flex-1 shrink">
						<p class="font-display font-medium text-2xl">Contact me</p>	
						<p class="font-sans font-light text-sm">Want me to help with your project? Just saying hi?</p>
					</div>
					</a>
				</div>
			</section>	

			<p class="text-center text-white" aria-hidden="true" >- - - - - - - - - - - - -</p>

			<section class="mx-auto max-w-2xl text-slate-800 px-4">
				<div class="w-full bg-sky-50 text-sm font-sans font-light rounded-2xl px-6 py-3 shadow-lg gap-8">
					<div class="flex-1">
						<p class="font-display font-medium text-xl">© 2025 Lex Wu</p>	
						<p>All rights reserved. Built with <a href="https://astro.build/" class="underline">Astro</a>, <a class="underline" href="https://tailwindcss.com">TailwindCSS</a>, and <a class="underline" href="https://tabler.io/icons">Tabler Icons.</a></p>
						<p>Source code available on <a class="underline" href="https://github.com/lwu877/bio">Github.</a> <a class="underline" href="https://lexwu.com/privacy">Privacy Policy</a></p>
					</div>
					</a>
				</div>
			</section>


		</div>

	</body>
</html>
